<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>react-native-app-security-example</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tech.bam.rnas.example</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>RNAS_PREVENT_RECENT_SCREENSHOTS</key>
    <true/>
    <key>TSKConfiguration</key>
    <dict>
      <key>TSKSwizzleNetworkDelegates</key>
      <true/>
      <key>TSKPinnedDomains</key>
      <dict>
        <key>yahoo.com</key>
        <dict>
          <key>TSKEnforcePinning</key>
          <true/>
          <key>TSKIncludeSubdomains</key>
          <true/>
          <key>TSKPublicKeyHashes</key>
          <array>
            <string>TQEtdMbmwFgYUifM4LDF+xgEtd0z69mPGmkp014d6ZY=</string>
            <string>rFjc3wG7lTZe43zeYTvPq8k4xdDEutCmIhI5dn4oCeE=</string>
          </array>
        </dict>
        <key>google.com</key>
        <dict>
          <key>TSKEnforcePinning</key>
          <true/>
          <key>TSKIncludeSubdomains</key>
          <true/>
          <key>TSKPublicKeyHashes</key>
          <array>
            <string>We74o5ME3USRtL6+B2UhXnwY9FR91QPJMYDtUNk6tEc=</string>
            <string>zCTnfLwLKbS9S2sbp+uFz4KZOocFvXxkV06Ce9O5M2w=</string>
          </array>
        </dict>
      </dict>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>